* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1x1j55');
    src:  url('../fonts/icomoon.eot?1x1j55#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1x1j55') format('truetype'),
    url('../fonts/icomoon.woff?1x1j55') format('woff'),
    url('../fonts/icomoon.svg?1x1j55#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
li {
    list-style-type: none;
    display: list-item;
}
a {
    color: #757575;
    text-decoration: none;
    cursor: pointer;
}
body {
    color: #333;
    background-color: #ffffff;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
/*清除浮动*/
.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.container {
    width: 1226px;
    margin: 0 auto;
}

/*顶部导航栏部分*/
.site-top-nav {
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}
.site-top-nav a {
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
}
.site-top-nav a:hover {
    color: #ffffff;
}
.site-top-nav .top-nav {
    float: left;
    line-height: 40px;
}
.top-nav .box {
    width: 124px;
    position: absolute;
    top: 40px;
    left: 50%;
    padding: 18px 0 14px;
    background: rgb(255, 255, 255);
    margin-left: -47px;
    box-shadow: rgb(170, 170, 170) 0 1px 5px;
    display: none;
}
.top-nav #down-app:hover .box {
    display: block;
}
.top-nav .box em {
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff;
    position: absolute;
    top: -10px;
    left: 50px;
}
.top-nav .box img {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
}
.top-nav .box span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 1;
    margin-top: 14px;
}
.top-nav .seq {
    margin: 0 0.5em;
    color: #424242;
}
.site-top-nav .top-cart,.site-top-nav .top-info {
    position: relative;
    float: right;
    height: 40px;
}
.site-top-nav .top-cart {
    width: 120px;
    margin-left: 15px;
}
.site-top-nav .top-cart .cart-mini {
    position: relative;
    z-index: 32;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}
.top-cart i {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
}
.top-cart .iconfont {
    font-family: 'icomoon',serif;
    font-style: normal;
}
.top-nav .cart-mini-num {
    margin-left: -4px;
}
.site-top-nav .top-info {
    line-height: 40px;
}
.top-info .link {
    padding: 0 5px;
    text-align: center;
    float: left;
}
.top-info .seq {
    margin: 0;
    float: left;
    color: #424242;
}
.top-info .message {
    float: left;
    padding: 0 10px;
}


/*头部内容部分*/
.site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}
.site-header .header-logo .logo {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background: #ff6700 url("../images/mi-logo.png") no-repeat 50% 50%;
}
.site-header .header-nav {
    float: left;
    width: 850px;
}
.site-header .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    font-size: 16px;
}

/*头部ul部分的第一个li  写在 .site-header里的部分*/
.site-header .nav-list .nav-category {
    position: relative;
    float: left;
    height: 88px;
    width: 127px;
    padding-right: 15px;
}
.nav-category .link-category {
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    color: #333;
    visibility: hidden;
}
/*左侧菜单栏模块*/
.site-header .site-category .site-category-list {
    position: relative;
    float: left;
    height: 88px;
    width: 234px;
    padding: 20px 15px 20px 0;
    /*padding-right: 15px;*/
    color: #ffffff;
    border: 0;
    margin: 0;
}
.header-nav .site-category {
    display: block;
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 21;
    width: 234px;
    height: 460px;
    font-size: 14px;
    background: rgba(0,0,0,.6);
}
.site-category-list .category-item:hover {
    background-color: #ff6700;
}
.site-category-list .title {
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #ffffff;
}
.site-category-list .title i {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255,255,255,.5);
}
/*左侧菜单栏对应栏目弹出的选项面板 .children*/
.site-header  .site-category-list .children {
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 24;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
}
.site-header  .site-category .category-item:hover .children {
    display: block;
}
.site-category-list .children .children-list {
    height: 458px;
    margin: 0;
    padding: 2px 0;
}
.children-col-2 {
    width: 530px;
}
.children-col-3 {
    width: 795px;
}
.children-col-4 {
    width: 992px;
}
.children-list-col {
    width: 248px;
    float: left;
}
.site-category-list .children-list li {
    position: relative;
    float: left;
    width: 265px;
    height: 76px;
}
.site-category-list .children-list .link {
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}
.children-list .link .link-img {
    margin-right: 12px;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
.children-list .link .text {
    line-height: 40px;
}

/*.nav-list下的除第一个li之外的li的样式*/
.site-header .nav-item .item-children {
    position: absolute;
    left: -234px;
    z-index: 22;
    height: 229px;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    display: none;
}
.site-header .nav-item:nth-child(3) .item-children {
    left: -318px;
}
.site-header .nav-item:nth-child(4) .item-children {
    left: -370px;
}
.site-header .nav-item:nth-child(5) .item-children {
    left: -422px;
}
.site-header .nav-item:nth-child(6) .item-children {
    left: -490px;
}
.site-header .nav-item:nth-child(7) .item-children {
    left: -542px;
}
.site-header .nav-item:nth-child(8) .item-children {
    left: -594px;
}
.site-header .nav-item:nth-child(9) .item-children {
    left: -662px;
}

.site-header .nav-item:hover .item-children {
    display: block;
}
.site-header .header-nav .nav-item .container {
    position: relative;
}
.site-header .nav-item .children-list {
    font-size: 12px;
    position: relative;
}
.site-header .nav-item .children-list li {
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}
.site-header .nav-item .children-list .figure {
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
}
.site-header .nav-item .children-list .figure a {
    display: block;
}
.site-header .nav-item .children-list img {
    width: 160px;
    height: 110px;
}
.site-header .nav-item .children-list .title {
    line-height: 20px;
}
.site-header .nav-item .children-list .price {
    line-height: 20px;
    color: #ff6700;
}
.site-header .nav-item .children-list .flags {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.site-header .nav-item .children-list .flag {
    display: inline-block;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}
.site-header .nav-item .children-list .seq {
    display: inline-block;
    border-right: 1px solid #ccc;
    height: 100px;
    position: absolute;
    top: 40px;
    right: 0;
}


/*.site-header头部logo，导航，搜索*/
.site-header .nav-item {
    float: left;
    position: relative;
}
.site-header .nav-item .link {
    display: block;
    padding: 26px 10px 38px;
    color: #333333;
}
.site-header .nav-item .link:hover {
    color: #ff6700;
}
.site-header .header-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}
.site-header .header-search .search-form {
    position: relative;
    width: 296px;
    height: 50px;
}
.site-header .search-form .search-text {
    position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    transition: all .2s;
}
.site-header .search-form .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    transition: all .2s;
}
.site-header .header-search .search-btn:hover {
    background: #ff6700;
    color: #ffffff;
}
.iconfont {
    font-family: 'icomoon',serif;
    font-style: normal;
}
.site-header .header-search .search-hot {
    position: absolute;
    z-index: 2;
    top: 14px;
    right: 64px;
}
.site-header .header-search .search-hot a:hover {
    background-color: #ff6700;
    color: #ffffff;
}
.site-header .header-search .search-hot a {
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    font-size: 12px;
    background-color: #eee;
    color: #757575;
    transition: all .2s;
}
.site-header .header-search .keyword-list {
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 20;
    width: 243px;
    border: 1px solid #ff6700;
    border-top: 0;
    background: #fff;
    display: none;
}
.site-header .header-search .keyword-list li a {
    position: relative;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}
.site-header .header-search .keyword-list .keyword {
    position: absolute;
    right: 15px;
    top: 6px;
    color: #b0b0b0;
}




    /*.site-home 头部导航部分，轮播图，闪购。。*/
.site-home {
    position: relative;
}
.site-home .home-hero {
    position: relative;
    margin-bottom: 26px;
}
/*轮播图模块*/
.home-hero-slider {
    position: relative;
    height: 460px;
    overflow: hidden;
}
.home-hero-slider .ui-wrapper {
    max-width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
.ui-wrapper .ui-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 460px;
}
.ui-viewport .ui-viewport-slider {
    width: auto;
    position: relative;
}
.ui-viewport-slider .slider {
    float: none;
    list-style: none;
    position: absolute;
    right: 0;
    width: 1226px;
    height: 460px;
    z-index: -99;
    /*display: none;*/
}
.ui-viewport-slider .slider a {
    display: block;
}
.ui-viewport-slider .slider img {
    width: 1226px;
    height: 460px;
    max-width: 100%;
    display: block;
}




/*house-electric  house-hd head部分*/
.page-main {
    background-color: #f5f5f5;
}
.page-main .house-electrical {
    margin-top: 100px;
    padding-top: 22px;
    height: 686px;
}
.house-hd {
    position: relative;
    height: 58px;
}
.house-hd .title {
    font-size: 22px;
    font-weight: 200;
    float: left;
}
.house-hd .more {
    position: absolute;
    top: 0;
    right: 0;
}
.house-hd .more .tab-list{
    margin: 0;
    padding: 16px 0 0;
}
.house-hd .more .tab-list li {
    float: left;
    color: #424242;
    margin-left: 30px;
    cursor: pointer;
    line-height: 26px;
}

.house-hd .more .tab-active {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
/*house-electric   house-bd 部分*/
.house-bd .span4 {
    float: left;
    width: 234px;
}
.house-bd .span4 li {
    height: 300px;
    float: left;
    margin-bottom: 14px;
}
.house-bd .span4 a {
    width: 100%;
    height: 100%;
}
.house-bd .span4 img {
    width: 234px;
}

.house-bd .span16 {
    width: 978px;
    min-height: 1px;
    float: left;
}
/*span16下的ul的属性*/
.house-bd .span16 .brick-list {
    width: 992px;
    height: 614px;
}
/*span16下的li的通用属性*/
.house-bd .span16 .brick-item {
    position: relative;
    width: 234px;
    min-height: 1px;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
    background-color: #fff;
}
.house-bd .span4 li:hover,.span16 li:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,.4);
    transition: all .6s;
}

/*span16下中等li的属性*/
.house-bd .span16 .brick-item-m {
    height: 246px;
    padding: 34px 0 20px;
}
.house-bd .brick-item-m .title {
    color: #ccc;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.house-bd .brick-item-m .title a {
    color: #333333;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*span16下中等li的图片的可通用属性*/
.house-bd .brick-item-m .figure-img {
    width: 150px;
    height: 150px;
    margin: 0 auto 18px;
}
.house-bd .brick-item-m .figure-img img {
    width: 150px;
    height: 150px;
}
.house-bd .brick-item-m .figure-img a {
    display: block;
}
/*中等li下面的可通用属性*/
.brick-item-m .desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}
.brick-item-m .price {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
    font-size: 14px;
}
.brick-item-m .price del {
    color: #b0b0b0;
}
.brick-item-m .flag {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 64px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}
.brick-item-m .flag-sale {
    background-color: #e53935;
}
.brick-item-m .flag-new {
    background-color: #83c44e;
}
.brick-item-m .review-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 234px;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    background: #ff6700;
    opacity: 0;
    transition: all .3s linear;
}
.brick-item-m:hover .review-wrapper{
    height: 76px;
    opacity: 1;
}
.brick-item-m .review {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}
.brick-item-m .author {
    display: block;
    color: rgba(255,255,255,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.brick-item-m .review-wrapper a {
    display: block;
    padding: 8px 30px;
    outline: 0;
}

/*小li下的可通用属性*/
.house-bd .span16 .brick-item-s {
    height: 93px;
    padding-top: 50px;
}
.brick-item-s .title {
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}
.brick-item-s .title a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333333;
}
.brick-item-s .price {
    margin: 0 110px 0 30px;
    font-size: 12px;
    color: #ff6700;
}
.brick-item-s .price .num {
    font-size: 14px;
}
.brick-item-s .figure-more .iconfont {
    font-family: 'icomoon', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
.brick-item-s .more {
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}
.brick-item-s .more small {
    display: block;
    font-size: 12px;
    color: #757575;
}
.brick-item-s .figure-more {
    position: absolute;
    right: 35px;
    top: 48px;
    width: 48px;
    height: 48px;
}
.brick-item-s .figure-more a {
    display: block;
    color: #ff6700;
}
/*小li下的img的可通用属性*/
.brick-item-s .figure {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 32px;
}
.brick-item-s .figure img {
    width: 80px;
    height: 80px;
}
.brick-item-s .figure a {
    display: block;
}


/*home-nav-bar 右侧固定定位的导航栏*/
.home-nav-bar {
    position: fixed;
    top: 240px;
    bottom: 70px;
    width: 27px;
    right: 50%;
    margin-right: -640px;
    z-index: 9999;
}
.bar-right .mi-bar-sort {
    margin: 0;
    padding: 0;
    border: 1px solid #f5f5f5;
}
.bar-right .mi-bar-sort .bar-sort {
    width: 25px;
    height: 39px;
    display: block;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
    border-top: none;
    font-size: 18px;
    line-height: 39px;
    text-align: center;
}
.home-nav-bar .sort-link {
    display: block;
    height: 100%;
}
.bar-right .bar-sort .iconfont:hover {
    color: #ff6700;
}
.bar-right .bar-sort .iconfont {
    font-family: 'icomoon',serif;
    font-style: normal;
}
.bar-right .bar-sort .bar-pop {
    position: absolute;
    top: 0;
    left: -137px;
    height: 187px;
    width: auto;
    display: none;
}
.bar-sort .sort-link:hover .bar-pop {
    display: block;
}
.bar-sort .bar-pop .pop-content {
    float: left;
    height: 187px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
}
.bar-pop .pop-img {
    width: 100px;
    height: 100px;
    margin: 20px 14px;
    background-color: #fff;
    border: 0;
}
.bar-pop .pop-text {
    width: 83px;
    line-height: 21px;
    margin: -10px auto 0;
    padding: 0 8px;
    height: 27px;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
}
.bar-pop .pop-rack {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    float: right;
    transform: rotate(45deg);
    position: relative;
    top: 14px;
    right: 7px;
}
.bar-right .bar-sort .sort-link .bar-pop-s {
    position: absolute;
    left: -135px;
    top: 6px;
    width: 126px;
    height: 27px;
}
.bar-right .bar-sort .sort-link .bar-pop-s .pop-text {
    float: right;
    padding: 0 8px;
    height: 27px;
    line-height: 27px;
    background: #fff;
    border: 1px solid #f5f5f5;
    margin: 0;
    color: #757575;
    font-size: 14px;
    text-align: center;
}
.bar-right .bar-sort .sort-link .bar-pop-s .pop-rack {
    right: -105px;
    top: 10px;
}